.Header {
  height: 200px;
  background: #191816;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #ffffff;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Content {
  padding: 20px;
}
.Heading {
  font-size: 2.75rem;
  line-height: 3rem;
  font-weight: 700;
  letter-spacing: normal;
  padding-bottom: 20px;
  sup {
    font-size: 2rem;
  }
}
.SubHeading {
  font-size: 1.75rem;
  line-height: 2rem;
  font-weight: 700;
  letter-spacing: normal;
}
.Image {
  align-items: center;
}
.HeadShot {
  height: 100%;
  width: auto;
  margin: 0 auto;
  display: block;
}
